:root {
  --branding-color: #6c7b95;
  --secondary-color: #464159;
  --accent-color: #8bbabb;
  --lightest-color: #c7f0db;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: ghostwhite;
}
h1 {
  font-size: 72px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 46px;
  font-family: var(--heading-font-family);
}
h3 {
  font-family: var(--default-font-family);
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}
.logo {
  font-size: 20px;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: var(--default-font-family);
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
nav li.active a,
nav a:hover {
  color: var(--accent-color);
}
.home-nav {
  background-color: var(--secondary-color);
}
.home-nav .logo {
  color: var(--lightest-color);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 200px;
  color: ghostwhite;
}

.hero p {
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}

.hero h2 {
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 2;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: ghostwhite;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--default-font-family);
}
.btn-branding:hover {
  background-color: var(--accent-color);
}

.btn-branding-outline {
  background-color: ghostwhite;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--default-font-family);
}

.btn-branding-outline:hover {
  background-color: var(--accent-color);
  color: ghostwhite;
}

.content-container {
  padding: 80px 100px;
}
.content h1 {
  font-size: 50px;
}
.content h2 {
  font-size: 25px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 25px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
  line-height: 1.5;
}
.content p {
  margin: 0;

  font-size: 14px;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 0 20px;
  color: ghostwhite;
  background-color: VAR(--accent-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  background-color: var(--lightest-color);
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

@media (max-width: 960px) {
  .logo {
    display: none;
  }

  nav ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .hero {
    margin: 0;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
  }

  .hero p {
    font-size: 16px;
  }
  .hero h2 {
    font-size: 16px;
  }
  .hero h1 {
    font-size: 65px;
  }
  .project-description {
    display: block;
    padding: 0;
    text-align: left;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 45px;
  }
  .content-container h2 {
    font-size: 20px;
  }
}
